*
{
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#bdebff, #ffdfd1); */
    /* background-color: rgb(156, 5, 52); */
    background-color: black;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    position: fixed;
    outline: none;
}

.logo {
    width: 20vw;
    border-bottom: 0.4rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(255 163 31);
    border-style: solid;
}

h1 {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    top: 15vh;
    left: 1vw;
    width: 18vw;
    /* transform: translateX(-50%); */
}   

.source-code {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0vh;
    left: 1vw;
    color:rgb(232, 65, 140);
    /* color:rgb(214, 0, 28); */

    
}

.dropdown {
    font-size: 1.2rem;
    position: absolute;
    padding-top: 0.3rem;
    padding-bottom: 0.6rem;
    left: 1%;
    width: 18vw;

    margin-top: 1rem;
    position: absolute;
    display: inline-block;
    background-color: rgb(255 163 31);
    overflow:auto;
}

.dropdown-content {
    position:relative;
    background-color: white ;
    width: 18vw;
    height: 15vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1000; */
    overflow:scroll;
    cursor: pointer;
}

.dropdown-content p {
    padding: 0.3rem 0rem;
    font-size: medium;
}

.dropdown-content p:hover {
    background-color: #ffe4c4;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.buildings {
    top: 23vh;
}

.b1 {
    background-color: #ffe4c4;
}

.floors {
    top: 45vh;
}

.currently-selected {
    color:white;
    position: absolute;
    width: 18vw;
    top: 70vh;
    left: 1vw;
}

.goto-inactive {
    width: 13vw;
    top: 80vh;
    left: 1vw;

    color:white;
    position:absolute;
    font-size: 1.7rem;
}

.goto-active {
    width: 18vw;
    top: 80vh;
    left: 1vw;

    cursor: pointer;
    color:#ffe4c4;
    position:absolute;
    font-size: 1.7rem;
}

.goto-back {
    padding-top: 1.4rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    background-color: black;
    color:white;
    position:absolute;
    font-size: 1.5rem;
    text-align: center;

    border-radius: 0 0 2rem 2rem;

    left: 50vw;
    transform: translateX(-50%);

    top: 0vh;
    width: 40vw;
    height: 5vh;

    z-index: 1000;
}

.error {
    width: 30vw;
    font-size: 1.2rem !important;
    text-align: center;
    color:darkred;
    position:absolute;
    font-size: 1.7rem;
    top: 16vh;
    left: 70vw;
    transform: translateX(-50%);
}


.active {
    visibility: visible;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.inactive {
    display: none;
    visibility: hidden;
    z-index: -1000;
    width: 0;
    height: 0;
}

.inactive canvas {
    display: none;
    visibility: hidden;
    z-index: -1000;
    width: 0;
    height: 0;
}

@media (max-width: 30em) {
  
}

