*
{
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#bdebff, #ffdfd1); */
    /* background-color: rgb(156, 5, 52); */
    background-color: black;
}

html,
body
{
    overflow: hidden;
}

h1, h2, div, p, label, a {
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

a {
    margin-bottom: 1em;

}


.row {
    display: flex;
    flex-direction: row;
    /* make the items squished together */
    justify-content:left !important;
    width: 30vw !important;
    transform: translateX(-20%);
}

label {
    color: white;
    transform: translateX(-40%) translateY(-50%);
    width: 30vw !important;
    height: 0.5vw;
}

form {
    padding-top: 0rem !important;
    padding-bottom: 1rem;
    width: 30vw !important;
    left: 0.5vw;
}

form h2 {
    color: orange;
}

.sidenav{
    /* flexbox column */
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.sidenav * {
    /* items in flexbox  */
    position:relative !important;
    flex: 1;
    padding-top: 1rem;
    width: 18vw;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:fit-content;
    left: 0.5vw;
    /* gap between children */
    gap: 1rem;
}

.webgl
{
    margin-left: 20vw;
    top: 0;
    width: 80vw;
    height: 100vh;
    position:fixed;
    outline: none;
}

.logo {
    width: 12vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 0 !important;
    margin: 0 !important;

    border-bottom: 0.4rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(255 163 31);
    border-style: solid;
}

h1 {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    left: 0.5vw;
    /* transform: translateX(-50%); */
}   

.source-code {
    position: absolute;
    bottom: 0vh !important;
    left: 0.5vw;
    color:rgb(232, 65, 140);
}

.dropdown {
    font-size: 1.2rem;
    position: absolute;
    padding-top: 0.3rem !important;
    padding-bottom: 0.6rem !important;

    position: absolute;
    display: inline-block;
    background-color: rgb(255 163 31);
    border-radius: 0.5rem;
    /* overflow:auto; */
}

.dropdown span {
    padding: 0.3rem !important;
}

.dropdown-content {
    position:relative;
    background-color: white ;
    height: 15vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1000; */
    overflow-y:scroll;
    cursor: pointer;
    padding: 0 !important;
}

.dropdown-content p {
    padding: 0.3rem 0.3rem !important;
    font-size: medium;
    width:auto;
}

.dropdown-content p:hover {
    background-color: #ffe4c4;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.b1 {
    background-color: #ffe4c4;
}

.currently-selected {
    color:white;
    position: absolute;
    left: 0.5vw;
}

.goto-inactive {
    left: 0.5vw;
    font-size: medium;
    text-align: center;
    color:white;
    position:absolute;
    border-radius: 1rem;
    margin-top: 1rem;
    width: calc(18vw - 2rem);

    padding: 1rem 1rem 1rem 1rem;}

.goto-active {
    left: 0.5vw;
    font-size: medium;
    text-align: center;

    cursor: pointer;
    color:#ffe4c4;
    position:absolute;

    background-color: darkred;
    border-radius: 1rem;
    margin-top: 1rem;

    width: calc(18vw - 2rem);

    padding: 1rem 1rem 1rem 1rem;
}

.goto-back {
    cursor: pointer;
    background-color: black;
    color:white;
    position:absolute;
    text-align: center;
    font-size: medium;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
        margin-top: 1rem;

    border-radius: 0 0 2rem 2rem;
    width: calc(18vw - 2rem);

    left: 50vw;
    transform: translateX(-50%);
}

.goto-back:hover, .goto-active:hover {
    background-color: rgb(133, 37, 80);
}

.active {
    visibility: visible;
    height: 100vh;
    z-index: 1000;
}

.inactive {
    display: none;
    visibility: hidden;
    z-index: -1000;
    width: 0;
    height: 0;
}

.inactive canvas {
    display: none;
    visibility: hidden;
    z-index: -1000;
    width: 0;
    height: 0;
}

@media (max-width: 30em) {
    h1, h2, div, p, label, a {
        font-size: smaller !important;
        font-family: 'Roboto', sans-serif;
    }
    .logo {
        width: 32vw !important;
        padding-top: 0 !important;
        margin: 0 !important;
    
        border-bottom: 0.4rem;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: rgb(255 163 31);
        border-style: solid;
    }
    .sidenav {
        width: 40vw;
    }
    .sidenav * {
        width: 36vw;
    }
    .webgl {
        margin-left: 40vw;
        width: 70vw;
    }

    .row {
        width: 50vw !important;
    }

    label {
        transform: translateX(-30%) translateY(-60%);
    }

    .goto-active, .goto-back, .goto-inactive {
        width: calc(36vw - 2rem);
    }

}

/* Add this to your CSS or use a stylesheet solution like CSS-in-JS */
.toggle-switch-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the switch horizontally */
    margin: 10px; /* Adjust margin as needed */
  }
  
  .toggle-switch {
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc !important;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white !important;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Apply different background colors for checked and unchecked states */
  input:checked + .slider {
    background-color: #66bb6a !important; /* Change this color for the "on" state */
  }
  
  /* Apply different colors for the slider icon for checked and unchecked states */
  input:checked + .slider:before {
    background-color: white !important; /* Change this color for the "on" state */
    transform: translateX(26px);
  }
  
  
h2 span {
    color: white;
    /* underline */
    text-decoration: underline;
    margin-left: 1rem;
    cursor: pointer;
}