*
{
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#bdebff, #ffdfd1); */
    /* background-color: rgb(156, 5, 52); */
    background-color: black;
}

html,
body
{
    overflow: hidden;
}

h1, h2, div, p {
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

.sidenav{
    /* flexbox column */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
}

.sidenav * {
    /* items in flexbox  */
    position:relative !important;
    flex: 1;
    padding-top: 1rem;
    width: 18vw;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:fit-content;
    left: 0.5vw;
    /* gap between children */
    gap: 1rem;
}

.webgl
{
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    position: fixed;
    outline: none;
}

.logo {
    width: 12vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 0 !important;
    margin: 0 !important;

    border-bottom: 0.4rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(255 163 31);
    border-style: solid;
}

h1 {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    left: 0.5vw;
    /* transform: translateX(-50%); */
}   

.source-code {
    position: absolute;
    bottom: 0vh !important;
    left: 0.5vw;
    color:rgb(232, 65, 140);
}

.dropdown {
    font-size: 1.2rem;
    position: absolute;
    padding-top: 0.3rem !important;
    padding-bottom: 0.6rem !important;
    left: 1%;

    position: absolute;
    display: inline-block;
    background-color: rgb(255 163 31);
    /* overflow:auto; */
}

.dropdown-content {
    position:relative;
    background-color: white ;
    height: 15vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1000; */
    overflow:scroll;
    cursor: pointer;
    padding: 0 !important;
}

.dropdown-content p {
    padding: 0.3rem 0rem !important;
    font-size: medium;
}

.dropdown-content p:hover {
    background-color: #ffe4c4;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.buildings {
}

.b1 {
    background-color: #ffe4c4;
}

.floors {
}

.currently-selected {
    color:white;
    position: absolute;
    left: 0.5vw;
}

.goto-inactive {
    left: 0.5vw;

    color:white;
    position:absolute;
    font-size: 1.7rem;
}

.goto-active {
    left: 0.5vw;

    cursor: pointer;
    color:#ffe4c4;
    position:absolute;
    font-size: 1.7rem;
}

.goto-back {
    cursor: pointer;
    background-color: black;
    color:white;
    position:absolute;
    font-size: 1.5rem;
    text-align: center;

    border-radius: 0 0 2rem 2rem;

    left: 50vw;
    transform: translateX(-50%);
}

.error {
    font-size: 1.2rem !important;
    text-align: center;
    color:darkred;
    position:absolute;
    font-size: 1.7rem;
    left: 70vw;
    transform: translateX(-50%);
}


.active {
    visibility: visible;
    height: 100vh;
    z-index: 1000;
}

.inactive {
    display: none;
    visibility: hidden;
    z-index: -1000;
    width: 0;
    height: 0;
}

.inactive canvas {
    display: none;
    visibility: hidden;
    z-index: -1000;
    width: 0;
    height: 0;
}

@media (max-width: 30em) {
    h1, h2, div, p {
        font-size: smaller !important;
        font-family: 'Roboto', sans-serif;
    }
    .logo {
        width: 32vw !important;
        padding-top: 0 !important;
        margin: 0 !important;
    
        border-bottom: 0.4rem;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: rgb(255 163 31);
        border-style: solid;
    }
    .sidenav {
        width: 40vw;
    }
    .sidenav * {
        width: 36vw;
        /* enable scroll if overflow */
    }
    .webgl {
        margin-left: 40vw;
        width: 60vw;
    }
}