---
import CesiumFrame from '../components/cesiumFrame.html';
import MatterportFrame from '../components/matterportFrame.html';
import App from '../components/sidenav.jsx';
---
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICT Explorer + Room Finder</title>  
	<link rel="stylesheet" href="./style.css">
</head>

<body>

<div class="webgl" id="cesiumContainer"></div>

<App></App>
<CesiumFrame></CesiumFrame>
<MatterportFrame></MatterportFrame>

</body>
