---
import SideBar from '../components/sideBar.html';
import CesiumFrame from '../components/cesiumFrame.html';
import MatterportFrame from '../components/matterportFrame.html';
---
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICT Explorer + Room Finder</title>  
	<link rel="stylesheet" href="./style.css">
</head>

<body>

<div class="webgl" id="cesiumContainer"></div>

<SideBar></SideBar>
<CesiumFrame></CesiumFrame>
<MatterportFrame></MatterportFrame>

</body>